<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">
      Argentino
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list class="ion-padding-top">
    <ion-item >
      <ion-input type="number" style="text-align: center;font-size: 2rem" class="ion-padding" placeholder="Monto en argentinos" [(ngModel)]="input_arg" (ngModelChange)="changeInput()"></ion-input>
    </ion-item>
  </ion-list>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Peso CHL dólar blue</ion-card-subtitle>
      <ion-card-title>$ {{ chb }}</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Dólar blue</ion-card-subtitle>
      <ion-card-title>U$D {{ dlb }}</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Peso CHL dólar oficial</ion-card-subtitle>
      <ion-card-title>$ {{ cho }}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
